
.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
     background-image: url('shelter.png');
    background-size: cover;
    background-repeat: no-repeat;
}
